<section class="container-fluid">
  <!-- Hero Section -->
  <div class="hero-section">
    <h2 class="title">Image Innovation Technology Private Ltd.</h2>
    <h1>Innovating the</h1>
    <div class="future-container">
      <!-- <img src="assets/images/wave.png" class="wave left-wave" /> -->
      <span class="animated-text">future</span>
      <!-- <img src="assets/images/wave.png" class="wave right-wave" /> -->
    </div>
    
    <p class="description">
      Simplifying management with AI, blockchain, and innovative tech solutions.
      From autonomous management systems to AI-driven question paper generation,
      we reduce time and effort, making education administration user-friendly
      and efficient.
    </p>
    
    <div class="cta-buttons">
      <button class="btn-primary me-3" routerLink="/solutions">Explore Our Solutions <i class="bi bi-chevron-right mt-2"></i></button>
      <button class="btn-secondary">Get your free demo <img src="assets/images/sparkle.png" height="25"/></button>
    </div>

    <div class="sub mt-2">Delivering Expert, Reliable, and Timely Educational Solutions You Can Trust.</div>
  </div>

  <app-how-it-started></app-how-it-started>
  <app-expertise></app-expertise>
  <app-getting-started-qgen></app-getting-started-qgen>
</section>
