<div class="solutions-container">
  <!-- Hero Section -->
  <div class="hero-section">
    <h2>FINEST OPTIONS FOR YOU FROM US</h2>
    <button>WATCH DEMO</button>
  </div>

  <!-- Solutions Section -->
  <div class="solutions-content">
    <h3>SOLUTIONS</h3>
    <p class="sub">Providing services that are not only efficient but also user-friendly</p>

    <div class="cards-wrapper">
      <div routerLink="/amexs" class="solution-card">
        <h4>AMEX</h4>
        <p>
          Amex, an AI-powered knowledge solution that helps with multiple tasks
        </p>
      </div>

      <div class="solution-card">
        <h4>Q-GEN</h4>
        <p>
          AI-powered knowledge solution that helps with multiple intelligent
          tools
        </p>
      </div>

      <div class="solution-card">
        <h4>DOC-CHAIN</h4>
        <p>AI-powered document verification that helps with authenticity</p>
      </div>

      <div class="solution-card">
        <h4>UNI-PASS</h4>
        <p>AI-powered universal authentication system for easy access</p>
      </div>

      <div class="solution-card">
        <h4>E-PROCURE</h4>
        <p>
          Amex, an AI-powered knowledge solution that helps with multiple tasks
        </p>
      </div>
    </div>
  </div>

  <!-- Call-to-Action Section -->
  <div class="cta-section mb-2">
    <h4>TURN VISIONS INTO ACTIONABLE OUTCOMES</h4>
    <button routerLink="/contact">CONTACT US</button>
  </div>
</div>
