/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.cta-buttons {
  margin-top: 20px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-secondary {
  background-color: white;
  color: black;
  /* border: 1px solid black; */
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  background-color: #333;
}

.btn-secondary:hover {
  background-color: #f1f1f1;
}